body{
  /* background-color: red; */
  display: grid;
  /* grid-template-rows: 12% 80% 5%; */
  /* grid-template-rows: 100px auto auto; */
  grid-template-rows: 100px calc(100vh - 100px);
  font-family: 'Mukta', sans-serif;
  color: #595bc9;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.head {
  /* background-color: #6666ff; */
  /* position: fixed; */
}

header {
  text-align: right;
  padding-right: 60px;
}

#title {

}

header h1 {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0; padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  column-gap: space-between;
  /* grid-template-columns: 10 1fr; */
}

.nav {
  justify-content: left;
  padding: 10px;
}

#main {
  /* grid-column: 2 / 7; */
  /* background-color: #9999ff; */
  /* color: green; */
}
.main h2 {
  padding: 0 5px;
}
.scroll {
  /* height: 95%; */
  overflow-y: scroll;
}

.post {
  /* height: 250px;
  width: 50%; */
  /* height: 150px; */
  width: 80%;
  padding: 5px;
}

.sidebar {
  /* background-color: #b3b3ff; */
}

.footer {
 /* background-color:  #cc33ff */
 text-align: center;
}
